services:
  backend:
    platform: linux/x86_64
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "80:80"
    volumes:
      - ./backend/src/:/www/
      - ./ecogroup/:/www/ecogroup/
    working_dir: /www/ecogroup
    command: >
      sh -c "npm run build && /usr/bin/supervisord -n"
